@font-face {
  font-family: ge-ss-tv-bold;
  src: url(../font/ge-ss-tv-bold.otf);
}
@font-face {
  font-family: ge-ss-tv-medium;
  src: url(../font/GE-SS-TV-Medium_10.otf);
}
@font-face {
  font-family: ge-ss-tv-light;
  src: url(../font/GE-SS-TV-Light_10.otf);
}
/* Start Global Rules */
:root {
  --main-color: #2b3347;
  --main-color-alt: #353d50;
  --border-color: hsla(0, 0%, 100%, 0.1);
  --text-color: white;
  --main-transition: 0.3s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: ge-ss-tv-medium;
  letter-spacing: 1px;
  direction: rtl;
  background-color: var(--main-color);
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 96%;
  }
}
.head {
  margin: 35px 65px 20px 20px;
  color: var(--text-color);
  position: relative;
  width: fit-content;
}
.head::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: -25px;
  top: 0;
}
.head::after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 18px;
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
}
/* End Global Rules */
/* Start Header */
header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  padding: 5px 25px;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  font-family: ge-ss-tv-bold;
  list-style: none;
}
header .nav li {
  padding: 12px 25px;
}
header .nav a {
  display: block;
  color: var(--text-color);
  font-size: 18px;
  position: relative;
  text-decoration: none;
}
header .nav a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -12px;
  left: 0;
  transition: width var(--main-transition);
}
header .nav a:hover::before {
  width: 100%;
}
header .nav .active::before {
  width: 100%;
}
/* End Header */
/* Start Landing */
.landing .title {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.landing .title a {
  display: block;
  color: #d3d3d3;
  font-size: 15px;
  font-family: ge-ss-tv-light;
  text-decoration: none;
}
.landing .title a:hover {
  border-bottom: 1px solid #d3d3d3;
}
.landing .title i {
  color: #d3d3d3;
  font-size: 10px;
  padding: 0 10px;
}
.landing .title span {
  color: var(--text-color);
  font-family: ge-ss-tv-bold;
}
.landing .menu {
  display: flex;
  margin-top: 25px;
}
.landing .menu h1 {
  color: var(--text-color);
  font-family: ge-ss-tv-bold;
  font-size: 38px;
  margin-left: 30px;
}
.landing .menu ul {
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  list-style: none;
}
.landing .menu ul a {
  display: block;
  color: #d3d3d3;
  padding: 0 20px;
  font-family: ge-ss-tv-light;
  margin-bottom: -15px;
  transition: var(--main-transition);
  text-decoration: none;
}
.landing .menu ul a:hover {
  color: var(--text-color);
}
/* End Landing */
/* Start news */
.news .container {
  position: relative;
}
.news .box {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: #2e374d;
  transition: var(--main-transition);
}
.news .box:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}
.news .box img {
  border-radius: 5px;
}
.news .box .text {
  color: var(--text-color);
  position: relative;
}
.news .box .text h3 {
  font-family: ge-ss-tv-medium;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.news .box .text p {
  font-family: ge-ss-tv-light;
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 1.5px;
}
.news .box .text span {
  font-family: ge-ss-tv-light;
  color: #d3d3d3;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 5px;
}
.news .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px 0 43px;
  position: relative;
}
.news .content::before {
  content: "";
  width: calc(100% - 110px);
  height: 1px;
  background-color: var(--border-color);
  position: absolute;
  bottom: 0;
  right: 0;
}
.news .content .box {
  padding: 15px;
  margin-bottom: 0;
}
.news .content .box img {
  width: 120px;
  height: 100px;
}
.news .content .box .info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.news .content .box .info p {
  color: var(--text-color);
  font-size: 20px;
}
.news .content .box .info span {
  font-family: ge-ss-tv-light;
  color: #d3d3d3;
  font-size: 15px;
}
.news a {
  display: block;
  width: fit-content;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 14px;
  color: var(--text-color);
  background-color: var(--main-color);
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
.news a i {
  font-size: 16px;
  margin-right: 5px;
}
/* End news */
/* Start Match */
.match .head {
  margin-top: 50px;
  margin-bottom: 25px;
}
.match .time {
  display: flex;
  align-items: center;
  gap: 9px;
  list-style: none;
  background-color: var(--main-color-alt);
  width: fit-content;
  padding: 8px 40px;
  border-radius: 5px;
  margin-bottom: 50px;
  position: relative;
}
.match .time::before,
.match .time::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.match .time::before {
  content: "\f104";
  left: 15px;
}
.match .time::after {
  content: "\f105";
  right: 15px;
}
.match .time li {
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 20px;
  font-family: ge-ss-tv-medium;
  text-align: center;
  width: 100px;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}
.match .time li.today {
  background-color: rgb(57, 194, 194);
}
.match .league {
  padding-bottom: 25px;
  margin-bottom: 40px;
}
.match .league:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.match .league .title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.match .league .title img {
  background-color: white;
  border-radius: 50%;
  width: 64px;
  padding: 4px;
}
.match .league .title h3 a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 23px;
  letter-spacing: 2px;
}
.match .league .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 18px;
}
.match .league .content .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}
.match .league .content .box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.match .league .content .box .info .clubs {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
  color: var(--text-color);
  border-left: 1px solid var(--border-color);
  padding: 15px 22px;
}
.match .league .content .box .info .clubs .club {
  display: flex;
  align-items: center;
  flex: 1;
}
.match .league .content .box .club img {
  width: 40px;
}
.match .league .content .box .club .name {
  flex: 1;
  font-size: 19px;
}
.match .league .content .box .club.one .name {
  margin: 0 15px 0 20px;
}
.match .league .content .box .club.two .name {
  margin: 0 20px 0 15px;
  text-align: left;
}
.match .league .content .box .club span {
  font-weight: bold;
}
.match .league .content .box .info > span  {
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 4px 7px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 22px;
}
.match .league .content .box .date {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #aaadb5;
  background-color: #353d50;
  padding: 10px 15px;
}
/* End Match */
/* Start About */
.about h2 {
  margin: 35px 30px 0;
  color: var(--text-color);
  position: relative;
  width: fit-content;
  font-size: 30px;
}
.about h2::before {
  content: "";
  width: 11px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: -30px;
  top: 0;
}
.about h2::after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 20px;
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.about p {
  color: rgb(196, 211, 255);
  font-size: 19px;
  line-height: 1.5;
  word-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.about ul,
.about ol {
  margin-right: 25px;
}
.about ul li,
.about ol li {
  color: rgb(131, 154, 219);
}
.about ol li {
  font-size: 17px;
  margin-bottom: 8px;
}
.about h3 {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.about table,
.about table tr,
.about table tr td {
  border: 2px solid white;
  border-collapse: collapse;
}
.about table {
  color: var(--text-color);
  margin: 40px auto;
}
.about table tr td:first-of-type {
  text-align: center;
}
.about table tr td:last-of-type {
  color: rgb(196, 211, 255);
}
.about table tr td {
  padding: 12px 15px;
}
/* End About */
/* Start Footer */
footer {
  margin-top: 80px;
  padding-top: 45px;
  background-color: var(--main-color-alt);
}
footer h2 {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 35px;
}
footer .social {
  display: flex;
  align-items: center;
  gap: 35px;
}
footer .social a {
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 70px;
}
footer .social a:first-child {
  background-image: url(../images/facebook.svg);
}
footer .social a:nth-child(2) {
  background-image: url(../images/twitter.svg);
}
footer .social a:nth-child(3) {
  background-image: url(../images/instagram.svg);
}
footer .social a:nth-child(4) {
  background-image: url(../images/youtube.svg);
}
footer .social a:nth-child(5) {
  background-image: url(../images/snapchat.svg);
}
footer .social a:last-child {
  background-image: url(../images/linkedin.svg);
}
footer p {
  color: var(--text-color);
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid var(--border-color);

}
footer p span {
  font-family: "Lato", sans-serif;
}
/* End Footer */
